
   /* -----------message screen section---------- */


.message-screen {
      display: flex;
      height:100vh;
      width: 100vw;
      background-color: #f0f2f5;
      font-family: "Segoe UI", sans-serif;
      flex-direction: row;
}

.message-screen_left{
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 100%;
      margin-left: 70px;
      background-color: white;
}

.message-screen_left-header{
      display: flex;
      width: 100%;
      border-color: black;
}


.message-screen_contact-list_container {
      width: 100%;
      background-color: #ffffff;
      border-right: 1px solid #d1d7db;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
}


.message-screen_message_container {
      width: 70%;
      background-image: url(../../../public/fondo-whasapp2.jpg);
      background-size: contain;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      overflow-y: scroll;
}

@media (min-width: 2010px) {

.message-screen_message_container {
      max-width: 1800px; 
      margin: 0 auto;
      padding: 40px;
}
}

@media screen and (max-width: 790px){

.message-screen_container-navLateral{
      display: none;
}

.message-screen_left{
      margin-left: 0;
}
}

@media screen and (max-width: 768px) {

      .message-screen{
            flex-direction: column;
      }


      .message-screen_left{
            width: 100%;
            height: auto;
      }

      .message-screen_left{
            display: none;
      }

      .message-screen_message_container{
            width: 100%;
            flex: 1;
      }

}


 /* -----------message screen section END---------- */


